# Entornos virtuales de Python
.venv/
venv/

# Archivos de caché y compilados de Python
__pycache__/
*.py[cod]

# Archivos de entorno - ¡NUNCA SUBIR A GIT!
# El asterisco (*) asegura que se ignoren .env, .env.local, etc.
.env*
# La exclamación (!) asegura que el archivo de ejemplo SÍ se incluya en Git.
!/.env.example

# Directorios de build y assets de Reflex/Next.js
.next/
.web/
assets/external/

# Directorio de estados de Reflex
.states/

# Bases de datos locales (si usaras SQLite)
*.db

# Archivos de sistema operativo
.DS_Store
Thumbs.db