.web
.states
# Archivos de la base de datos local
*.db

# Directorios de caché y compilados de Python
__pycache__/
*.py[cod]

# Directorios de build y assets de Reflex/Next.js
.web/
assets/external/
.next/

# Directorio de estados de Reflex
# .states/  <- Es opcional, pero bueno ignorarlo

# Entorno virtual de Python
venv/
.venv/

# Archivos de entorno
.env*
!/.env.example

# Archivos de sistema operativo
.DS_Store
Thumbs.db
