!/.env.example
# .states/  <- Es opcional, pero bueno ignorarlo
# Archivos de entorno
# Archivos de la base de datos local
# Archivos de sistema operativo
# Directorio de estados de Reflex
# Directorios de build y assets de Reflex/Next.js
# Directorios de caché y compilados de Python
# Entorno virtual de Python
*.db
*.py[cod]
.DS_Store
.env*
.next/
.states
.venv/
.web
.web/
Thumbs.db
__pycache__/
assets/external/
venv/
# .env
APP_BASE_URL="http://localhost:3000" # Cambia esto por tu URL de Vercel en producción

EMAIL_HOST="smtp.gmail.com"
EMAIL_PORT="587"
EMAIL_USER="tu_correo@gmail.com"
# ¡Usa una "Contraseña de aplicación" generada en tu cuenta de Google, no tu contraseña normal!
EMAIL_PASSWORD="tu_contraseña_de_aplicacion"
