# nixpacks.toml

providers = ["python", "node"]

[phases.setup]
# LIMPIEZA TOTAL: Quitamos las librerías pesadas de OpenCV (libgl, libx*, etc.)
# Solo dejamos lo necesario para Pillow y ZBar.
aptPkgs = [
    # Para procesar imágenes (Pillow)
    "libjpeg-dev", 
    "zlib1g-dev", 
    "libpng-dev", 
    
    # Compiladores básicos
    "gcc",
    
    # --- EL FIX DE ZBAR ---
    # Instalamos la versión DEV. Al haber quitado la basura de OpenCV, 
    # esto ya NO debería dar error 255 en el deploy.
    "libzbar-dev" 
]

[phases.install]
cmds = [
    "python -m venv --copies /opt/venv",
    ". /opt/venv/bin/activate && pip install --upgrade pip",
    ". /opt/venv/bin/activate && pip install --no-cache-dir -r requirements.txt",
    "npm ci"
]

[start]
cmd = "/opt/venv/bin/python -m reflex run --env prod --backend-only"

[variables]
# Mantenemos la ruta de búsqueda por seguridad
LD_LIBRARY_PATH = "/usr/lib/x86_64-linux-gnu:/usr/lib"
PORT = "8000"