# nixpacks.toml

providers = ["python", "node"]

[phases.setup]
# Lista limpia: Solo lo necesario para gráficos y ZBar
aptPkgs = [
    "libgl1", 
    "libglib2.0-0", 
    "libsm6", 
    "libxext6", 
    "libxrender1",
    "libjpeg-dev", 
    "zlib1g-dev", 
    "libpng-dev", 
    "ghostscript", 
    "gcc",
    # --- ESENCIALES PARA EL QR ---
    "libzbar0",      # Librería base
    "libzbar-dev"    # Archivos de desarrollo
]

[phases.install]
cmds = [
    "python -m venv --copies /opt/venv",
    ". /opt/venv/bin/activate && pip install --upgrade pip",
    ". /opt/venv/bin/activate && pip install --no-cache-dir -r requirements.txt",
    "npm ci"
]

[start]
cmd = "/opt/venv/bin/python -m reflex run --env prod --backend-only"

[variables]
# ESTO ES LO QUE ARREGLA EL ERROR "Unable to find zbar shared library"
# Le dice a Python explícitamente dónde buscar la librería que instalamos.
LD_LIBRARY_PATH = "/usr/lib/x86_64-linux-gnu:/usr/lib"

OPENCV_VIDEOIO_PRIORITY_MSMF = "0"
PORT = "8000"