# nixpacks.toml

[phases.setup]
# 1. Instalamos Python, PIP y las librerías gráficas de Linux necesarias
nixPkgs = [
    "python311", 
    "python311Packages.pip", 
    "ffmpeg", 
    "zlib"
]

# Librerías del sistema operativo (solución al error libGL)
aptPkgs = [
    "libgl1", 
    "libglib2.0-0", 
    "libsm6", 
    "libxext6", 
    "libxrender1"
]

[phases.install]
# 2. OBLIGAMOS a instalar las dependencias de Python.
# Si no ponemos esto, Nixpacks ve el package.json y solo instala cosas de Node.
cmds = ["python -m pip install -r requirements.txt"]

[start]
# 3. Arrancamos usando 'python -m reflex'. 
# Esto es más seguro que usar solo 'reflex' porque no depende del PATH del sistema.
cmd = "python -m reflex run --env prod"

[variables]
# Optimizaciones
OPENCV_VIDEOIO_PRIORITY_MSMF = "0"
PYTHONUNBUFFERED = "1"
# Aseguramos que escuche en el puerto correcto (Coolify suele esperar el 8000 o 3000)
PORT = "8000"