# nixpacks.toml

# Usamos proveedores automáticos (Evita problemas de pip/python path)
providers = ["python", "node"]

[phases.setup]
# Librerías del sistema esenciales.
# Con OpenCV 4.8, esto es suficiente y mucho más ligero.
aptPkgs = [
    "libgl1", 
    "libglib2.0-0", 
    "libsm6", 
    "libxext6", 
    "libxrender1",
    "libjpeg-dev", 
    "zlib1g-dev", 
    "libpng-dev", 
    "libzbar-dev", 
    "ghostscript", 
    "gcc"
]

[phases.install]
# Instalación limpia en /opt/venv
cmds = [
    "python -m venv --copies /opt/venv",
    ". /opt/venv/bin/activate && pip install --upgrade pip",
    ". /opt/venv/bin/activate && pip install --no-cache-dir -r requirements.txt",
    "npm ci"
]

[start]
# Ruta absoluta para garantizar que encuentre los comandos
cmd = "/opt/venv/bin/python -m reflex run --env prod --backend-only"

[variables]
# Mantenemos las optimizaciones
OPENCV_VIDEOIO_PRIORITY_MSMF = "0"
PORT = "8000"