# nixpacks.toml
# Solo inyectamos las dependencias de sistema (Linux) para OpenCV.
# Dejamos que Nixpacks detecte e instale Python y Pip automáticamente.

[phases.setup]
# Librerías de sistema requeridas por OpenCV (soluciona el error libGL)
aptPkgs = [
    "libgl1", 
    "libglib2.0-0", 
    "libsm6", 
    "libxext6", 
    "libxrender1"
]

[variables]
# Optimización para que OpenCV no llene los logs de advertencias
OPENCV_VIDEOIO_PRIORITY_MSMF = "0"