# nixpacks.toml
[phases.setup]
aptPkgs = [
    "libgl1", 
    "libglib2.0-0", 
    "libsm6", 
    "libxext6", 
    "libxrender1"
]

[start]
# CAMBIO IMPORTANTE: Quitamos '--backend-only' para que sirva también el frontend
cmd = "reflex run --env prod"

[variables]
OPENCV_VIDEOIO_PRIORITY_MSMF = "0"
# Reflex usa el puerto 3000 para el frontend por defecto, asegurémonos que escuche en el PORT que Coolify espera
PORT = "3000"