# Configuración de Nixpacks para Likemodas (Versión VPS Potente)
providers = ["python", "node"]

[phases.setup]
# Agregamos 'nodejs' y 'npm' para que funcione la parte visual
nixPkgs = ["python311", "nodejs", "npm", "gcc", "zlib", "libjpeg", "openjpeg", "libimagequant", "lcms2", "freetype", "ghostscript"]
aptPkgs = ["libjpeg-dev", "zlib1g-dev", "libpng-dev", "libzbar-dev"]

[phases.install]
cmds = ["python -m venv --copies /opt/venv && . /opt/venv/bin/activate && pip install --no-cache-dir -r requirements.txt"]

[start]
# Quitamos '--backend-only' para que arranque TODO (Web + API)
cmd = "reflex run --env prod"