# nixpacks.toml

providers = ["python", "node"]

[phases.setup]
# LIMPIEZA TOTAL: He borrado TODAS las librerías gráficas (libgl, libx*, etc).
# Solo dejamos lo necesario para Pillow y ZBar. Esto evitará el error de deploy.
aptPkgs = [
    "libjpeg-dev", 
    "zlib1g-dev", 
    "libpng-dev", 
    "gcc",
    
    # --- EL FIX DE ZBAR ---
    "libzbar0",      # Librería base
    "libzbar-dev"    # Esta crea el archivo 'libzbar.so' que Python necesita desesperadamente
]

[phases.install]
cmds = [
    "python -m venv --copies /opt/venv",
    ". /opt/venv/bin/activate && pip install --upgrade pip",
    ". /opt/venv/bin/activate && pip install --no-cache-dir -r requirements.txt",
    "npm ci"
]

[start]
cmd = "/opt/venv/bin/python -m reflex run --env prod --backend-only"

[variables]
# Mantenemos esto por seguridad
LD_LIBRARY_PATH = "/usr/lib/x86_64-linux-gnu:/usr/lib"
PORT = "8000"