# Configuración de Nixpacks para Likemodas (Versión Corregida)
providers = ["python", "node"]

[phases.setup]
# Eliminamos 'npm' de la lista porque ya viene con 'nodejs'
# Mantenemos ghostscript y las librerías de imágenes
nixPkgs = ["python311", "nodejs", "gcc", "zlib", "libjpeg", "openjpeg", "libimagequant", "lcms2", "freetype", "ghostscript"]

# Paquetes del sistema operativo (Ubuntu)
aptPkgs = ["libjpeg-dev", "zlib1g-dev", "libpng-dev", "libzbar-dev"]

[phases.install]
# Instalamos dependencias de Python
cmds = ["python -m venv --copies /opt/venv && . /opt/venv/bin/activate && pip install --no-cache-dir -r requirements.txt"]

[start]
# Comando de inicio completo
cmd = "reflex run --env prod"