# nixpacks.toml

# 1. Mantenemos la estrategia de proveedores que SÍ te funcionó para instalar
providers = ["python", "node"]

[phases.setup]
# 2. Agregamos 'libxcb1', 'libx11-xcb1', 'libice6' que son las que te faltan ahora.
aptPkgs = [
    "libgl1", 
    "libglib2.0-0", 
    "libsm6", 
    "libxext6", 
    "libxrender1",
    "libjpeg-dev", 
    "zlib1g-dev", 
    "libpng-dev", 
    "libzbar-dev", 
    "ghostscript", 
    "gcc",
    "libxcb1",      # <--- ESTA es la que soluciona el error actual
    "libx11-xcb1",
    "libice6"
]

[phases.install]
# 3. Instalación robusta en entorno virtual
cmds = [
    "python -m venv --copies /opt/venv",
    ". /opt/venv/bin/activate && pip install --upgrade pip",
    ". /opt/venv/bin/activate && pip install --no-cache-dir -r requirements.txt",
    "npm ci"
]

[start]
# 4. Usamos la ruta absoluta para que encuentre Reflex sin problemas
cmd = "/opt/venv/bin/python -m reflex run --env prod --backend-only"

[variables]
OPENCV_VIDEOIO_PRIORITY_MSMF = "0"
PORT = "8000"