# nixpacks.toml
# Configuración para inyectar dependencias de sistema requeridas por OpenCV

[phases.setup]
# Mantenemos los paquetes base y agregamos las librerías gráficas de bajo nivel
nixPkgs = ["python3", "ffmpeg", "zlib"]
aptPkgs = [
    "libgl1", 
    "libglib2.0-0", 
    "libsm6", 
    "libxext6", 
    "libxrender1"
]

[phases.install]
cmds = ["python -m pip install -r requirements.txt"]

[variables]
# Optimización para evitar logs de advertencia de OpenCV en servidor
OPENCV_VIDEOIO_PRIORITY_MSMF = "0"